<ul class="boxen">
    <li>
      <span class="num"><%= $redis.get(:counter) || 0 %></span>
      urls
    </li>

    <li>
      <span class="num"><%= $redis.get(:hits) || 0 %></span>
      hits
    </li>

    <li>
      <span class="num"><%= $redis.get(:misses) || 0 %></span>
      misses
    </li>
</ul>
