html {
    background: #fff url(/audiosocket.png) no-repeat fixed center;
}

body {
    font-family : "Helvetica Neue", sans-serif;
    margin-top  : 72px;
    text-align  : center;
}

input {
    background : #fff;
    border     : 1px solid #000;
    color      : #000;
    font-size  : 18px;
    margin     : 0;
    padding    : 0;
}

#url {
    border-bottom-left-radius : 3px;
    border-top-left-radius    : 3px;
    padding                   : 6px;
    width                     : 300px;
}

#shorten {
    -webkit-transition         : 0.3s;
    background                 : #000;
    border-bottom-right-radius : 3px;
    border-top-right-radius    : 3px;
    color                      : #777;
    cursor                     : pointer;
    padding                    : 6px;
}

#shorten:hover {
    color: #eee;
}

#shortened input {
    border     : 0;
    color      : #333;
    cursor     : text !important;
    font-size  : 24px;
    text-align : center;
    width      : 500px;
}

#shortened p {
    color      : #666;
    font-size  : 13px;
    margin-top : 6px;
}

