<!DOCTYPE html>

<html>
  <head>
    <title>Oso<%= " :: #@title" if @title %></title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link href="/components.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <% if @title %>
    <h1>
      Oso :: <%= @title %>
      <a class="btn" href="/">home</a>
    </h1>
    <% end %>

    <%= yield %>

    <script type="text/javascript"
            src="http://code.jquery.com/jquery-1.5.min.js"></script>

    <script type="text/javascript" src="/jquery.ago.js"></script>

    <script type="text/javascript">
      $(function() { $("[data-at]").ago() })
    </script>
  </body>
</html>
