<p>
  <a href="<%= shorturl @short %>"><%= @short %></a> points at
  <a href="<%= @long %>"><%= shorten @long %></a>.

  <% if @hits > 0 %>
  It's been hit <b><%= @hits %></b> time<%= "s" if @hits != 1 %>,
  most recently <b data-at="<%= @time %>">timestamp</b>.
  <% end %>

  <% if @limit > 0 %>
  It can be hit <b><%= @limit %> more time<%= "s" if @limit != 1 %></b>
  before it disappears.
  <% end %>
</p>
